.titleContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: #28282B;
    color: white;
    box-shadow: 0px 1px 15px white;
}

p{
    color: white;
}